@import "smart-grid.less";
@import "global.less";

.footer{
    &__menu{
        padding: 27px 0 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logoBox{
            display: flex;
            align-items: center;
            &__text{
                margin-left: 8px;
            }
        }
        .menu{
            &__link{
                position: relative;
                font-weight: 500;
                font-size: 14px;
                line-height: 23px;
                text-transform: uppercase;
                color: #030D15;
                padding-right: 18px;
                margin: 0 20px;
                &::after{
                    content: '';
                    right: 0;
                    top: calc(50% - 3px);
                    display: block;
                    position: absolute;
                    width: 10px;
                    height: 6px;
                    background: url(../img/menu__linkRange.svg);
                }
            }
        }
        .accountMenu{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 127px;
            width: 100%;
            &__button{
                border: none;
                background: inherit;
                cursor: pointer;
                padding: 0;
            }
        }
    }
    &__content{
        padding: 55px 0 132px;
        .contentOffer{
            display: flex;
            align-items: center;
            .mainOffer{
                max-width: 555px;
                width: 100%;
                &__textBrand{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0.145em;
                    text-transform: uppercase;
                    color: #C72535;
                    opacity: 0.6;
                    margin: 3px 0;
                }
                &__textTitle{
                    font-weight: normal;
                    font-size: 61px;
                    line-height: 73px;
                    color: #030D15;
                    &Span{
                        position: relative;
                        font-weight: 600;
                        font-size: 61px;
                        line-height: 73px;
                        color: #247CC0;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 105%;
                            height: 75%;
                            background-color: #247CC0;
                            opacity: 0.1;
                            left: -2.5%;
                        }
                    }
                }
                &__textSubTitle{
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 27px;
                    color: #030D15;
                    opacity: 0.6;
                    padding: 29px 0 ;
                }
                &__price{
                    display: flex;
                    align-items: center;
                    &Button{
                        margin-top: 7px;
                        margin-right: 31px;
                        padding: 16px 35px;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 26px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        background: #247CC0;
                        border: none;
                        cursor: pointer;
                    }
                    &Coast{
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 27px;
                        color: #030D15;
                        padding-right: 16px;
                    }
                    &OldCoast{
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 27px;
                        text-decoration-line: line-through;
                        color: #030D15;
                    }
                }
            }
            &__visualBlock{
                &Image{
                    margin-left: 28px;
                }
            }
        }
        .partners{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding: calc(76px - 30px) calc(118px - 30px) ;
            box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
            &Item{
                padding: 15px;
            }
        }
    }
}
.offerProduct{
    padding-bottom: 75px;
    .offerProductItems{
        .row-flex();
        
        .offerProductItem{
            .col();
            .size(6);
            
            display: flex;
            
            &__visual{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                border: 1px solid rgba(0, 0, 0, 0.1);
                &::after{
                    content: '';
                    right: -22px;
                    top: -22px;
                    display: block;
                    position: absolute;
                    width: 44px;
                    height: 44px;
                    background: url(../img/offerProductItem=after.png);
                }
            }
            &__textInfo{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;
                padding-left: 30px;
                width: 50%;

                &Title{
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 40px;
                    color: #030D15;
                    padding: 9px 0;
                }
                &Text{
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    color: #030D15;
                    opacity: 0.6;
                    padding-bottom: 20px;
                }
                &Price{
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 27px;
                    color: #030D15;
                    padding-bottom: 10px;
                    &Old{
                        position: relative;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 27px;
                        text-decoration-line: line-through;
                        color: #030D15;
                        opacity: 0.5;
                        padding-left: 10px;
                        &::after{
                            content: '/';
                            left: 2px;
                            position: absolute;
                            font-family: Hind Siliguri;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 27px;
                            color: #030D15;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
}