@import "smart-grid.less";
@import "global.less";

.header{
    &__menu{
        padding: 27px 0 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logoBox{
            display: flex;
            align-items: center;
            &__text{
                margin-left: 8px;
            }
        }
        .menu{
            &__link{
                position: relative;
                font-weight: 500;
                font-size: 14px;
                line-height: 23px;
                text-transform: uppercase;
                color: #030D15;
                padding-right: 18px;
                margin: 0 20px;
                &::after{
                    content: '';
                    right: 0;
                    top: calc(50% - 3px);
                    display: block;
                    position: absolute;
                    width: 10px;
                    height: 6px;
                    background: url(../img/menu__linkRange.svg);
                }
            }
        }
        .accountMenu{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 127px;
            width: 100%;
            &__button{
                border: none;
                background: inherit;
                cursor: pointer;
                padding: 0;
            }
        }
    }
    &__content{
        padding: 55px 0 132px;
        .contentOffer{
            display: flex;
            align-items: center;
            .mainOffer{
                max-width: 555px;
                width: 100%;
                &__textBrand{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0.145em;
                    text-transform: uppercase;
                    color: #C72535;
                    opacity: 0.6;
                    margin: 3px 0;
                }
                &__textTitle{
                    font-weight: normal;
                    font-size: 61px;
                    line-height: 73px;
                    color: #030D15;
                    &Span{
                        position: relative;
                        font-weight: 600;
                        font-size: 61px;
                        line-height: 73px;
                        color: #247CC0;
                        &::after{
                            content: '';
                            position: absolute;
                            width: 105%;
                            height: 75%;
                            background-color: #247CC0;
                            opacity: 0.1;
                            left: -2.5%;
                        }
                    }
                }
                &__textSubTitle{
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 27px;
                    color: #030D15;
                    opacity: 0.6;
                    padding: 29px 0 ;
                }
                &__price{
                    display: flex;
                    align-items: center;
                    &Button{
                        margin-top: 7px;
                        margin-right: 31px;
                        padding: 16px 35px;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 26px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        background: #247CC0;
                        border: none;
                        cursor: pointer;
                    }
                    &Coast{
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 27px;
                        color: #030D15;
                        padding-right: 16px;
                    }
                    &OldCoast{
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 27px;
                        text-decoration-line: line-through;
                        color: #030D15;
                    }
                }
            }
            &__visualBlock{
                &Image{
                    transform: translateX(87px);
                    max-width: 643px;
                }
            }
        }
        .partners{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            justify-content: space-between;
            padding: calc(76px - 30px) calc(118px - 30px) ;
            box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
            &Item{
                padding: 15px;
            }
        }
    }
}
.offerProduct{
    padding-bottom: 45px;
    .offerProductItems{
        .row-flex();
        
        .offerProductItem{
            .col();
            .size(6);
            
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            &__visual{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: calc(50% - 17.5px);
                border: 1px solid rgba(0, 0, 0, 0.1);
                &::after{
                    content: '';
                    right: -22px;
                    top: -22px;
                    display: block;
                    position: absolute;
                    width: 44px;
                    height: 44px;
                    background: url(../img/offerProductItem=after.png);
                }
            }
            &__textInfo{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;
                width: calc(50% - 17.5px);

                &Title{
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 40px;
                    color: #030D15;
                    padding: 9px 0;
                }
                &Text{
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    color: #030D15;
                    opacity: 0.6;
                    padding-bottom: 20px;
                }
                &Price{
                    padding-bottom: 10px;
                }
            }
        }
    }
}
.interest{
    padding: 75px 0 40px;
    .interestItems{
        .row-flex();

        .interestItem{
            .col();
            .size(6);

            margin-bottom: 15px;
            position: relative;
            background: linear-gradient(257.26deg, #008BF0 -13.2%, #D943C9 130.95%);
            border: 1px solid rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            padding: 75px 35px 74px;
            &__info{
                max-width: 285px;
                width: 100%;
                &Text{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 27px;
                    text-transform: uppercase;
                    color: #F4F9FC;
                    opacity: 0.6;
                    padding-bottom: 5px;
                }
                &General{
                    font-weight: 600;
                    font-size: 31px;
                    line-height: 40px;
                    text-transform: uppercase;
                    color: #F4F9FC;
                    padding-bottom: 7px;
                }
                &Link{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 27px;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #F4F9FC;
                }
            }
            &__visual{
                position: absolute;
                right: 0;
            }
        }
    }
}
.about{
    padding: 55px 0 62.5px;
    .aboutInner{
        display: flex;
        justify-content: space-between;
        &__visual{
            &Image{
                max-width: 610px;
                width: 100%;
                transform: translateX(-58px);
            }
        }
        &__text{
            max-width: 460px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 50px 0 65px;

            &Bottom{
                &Text{
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: #030D15;
                    opacity: 0.6;
                    padding-bottom: 25px;
                }
                &List{
                    padding: 15px 0;
                    &Item{
                        position: relative;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 27px;
                        color: #030D15;
                        margin-bottom: 20px;
                        padding-left: 31px;
                        &::before{
                            content: '';
                            left: 0;
                            top: 4px;
                            display: block;
                            position: absolute;
                            width: 18px;
                            height: 18px;
                            background: url(../img/textBottomListItem=after.svg)
                        }
                    }
                }
            }
        }
    }
}
.catalog{
    padding-bottom: 130px;
    .catalogNavigation{
        &__subTitle{
            text-align: center;
        }
        &__title{
            text-align: center;
        }
        &__list{
            padding: 22px 0;
            display: flex;
            justify-content: center;
            &Item{
                font-weight: 500;
                font-size: 14px;
                line-height: 23px;
                text-transform: uppercase;
                color: #030D15;
                opacity: 0.6;
                margin: 0 20px;
                border: 0;
                background-color: inherit;
                cursor: pointer;
                &--active{
                    color: #C72535;
                }
            }
        }
    }
    .catalogCards{
        padding: 12px 0 25px;
        .row-flex();

        .catalogCard{
            .col();
            .size(4);
            
            display: flex;
            flex-direction: column;
            height: 500px;
            position: relative;
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 35px;
            margin-top: 15px;
            margin-bottom: 15px;

            &__top{
                &DiscountText{
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 27px;
                    color: #030D15;
                }
            }
            &__bottom{
                margin-top: auto;
            }
            &__hoverMenu{
                &GeneralText{
                    font-weight: 600;
                    line-height: 40px;
                    font-size: 25px;
                    color: #030D15;
                    transition: 0.3s all;
                }
                &Color{
                    display: none;
                    position: absolute;
                    right: 35px;
                    bottom: 40px;
                    &Item{
                        padding: 3px;
                        margin: 0 10px;
                        div{
                            width: 14px;
                            height: 14px;
                            border-radius: 50px;
                        }
                        &--active{
                            border: 1px solid #030D15;
                            border-radius: 50px;
                        }
                    }
                    &Item:first-of-type{
                        margin-left: 0;
                    }
                    &Item:last-of-type{
                        margin-right: 0;
                    }
                }
            }
        }
        .catalogCard:hover{
            .catalogCard__hoverMenu{
                &GeneralText{
                    display: none;
                }
                .menuHover{
                    display: flex;
                }
                &Color{
                    display: flex;
                }
            }
        }
    }
    &__link{
        font-weight: 600;
        font-size: 14px;
        line-height: 23px;
        display: block;
        text-align: center;
        text-transform: uppercase;
        color: #030D15;
        cursor: pointer;
    }
}
.newCatalog{
    padding-bottom: 50px;
    &Navigation{
        &__subTitle{
            text-align: center;
        }
        &__title{
            text-align: center;
            padding-bottom: 7px;
        }
        &__text{
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #030D15;
            opacity: 0.6;
            padding-bottom: 10px;
            max-width: 457px;
            margin: 0 auto;
        }
    }
    .newCatalogColumn{
        .row-flex();
    
        .newCatalogCards{
            .col();
            .size(4);

            padding: 40px 0;
            .newCatalogCard{
                position: relative;
                margin-bottom: 35px;
                padding: 20px 27px;
                background: #FFFFFF;
                border: 1px solid rgba(0, 0, 0, 0.1);

                &__price{
                    display: none;
                    position: absolute;
                    left: 27px;
                    top: 20px;
                }
                &__visual{
                    padding-bottom: 20px;
                }
                &__menuHover{
                    padding-bottom: 0px;
                    position: absolute;
                    left: 27px;
                    bottom: 20px;
                }
            }
            .newCatalogCard:hover{
                .newCatalogCard__price{
                    display: block;
                }
                .menuHover{
                    display: flex;
                    width: 283px;
                }
            }
        }
    }
}
.aboutForm{
    background: #F4F9FC;
    padding: 100px 0;
    .aboutFormInner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__text{
            max-width: 360px;
            width: 100%;
            &General{
                font-weight: 500;
                font-size: 25px;
                line-height: 40px;
                color: #030D15;
                padding-bottom: 8px;
            }
            &SubGeneral{
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                color: #030D15;
                opacity: 0.6;
            }
        }
        &__subscribe{
            width: 100%;
            &Form{
                display: flex;
                justify-content: end;
                &Text{
                    border: none;
                    font-family: Hind Siliguri;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    color: #030D15;
                    padding: 15px 26px 14px;
                    max-width: 335px;
                    width: 100%;
                    ::placeholder{
                        font-family: Hind Siliguri;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 21px;
                        color: #030D15;
                        opacity: 0.4;
                    }
                }
                &Submit{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 23px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    background: #247CC0;
                    border: none;
                    cursor: pointer;
                    padding: 13px 26px 14px;
                }
            }
        }
    }
}
.footer{
    background: #030D15;
    padding: 75px 0 40px;
    .footerInner{
        .row-flex();
        
        .footerColumnThree{
            .col();
            .size(3);

            &__link{
                font-weight: 500;
                font-size: 14px;
                line-height: 23px;
                color: #FFFFFF;
            }
            &__images{
                width: 67px;
                padding-bottom: 22px;
            }
        }
        .footerColumn{
            .col();
            .size(2);

            a{
                cursor: pointer;
            }
            &Title{
                font-weight: 600;
                font-size: 16px;
                line-height: 26px;
                color: #FFFFFF;
                padding-bottom: 26px;
            }
            &Text{
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 23px;
                color: #FFFFFF;
                opacity: 0.6;
                padding-bottom: 15px;
            }
        }
    }
}